@charset "UTF-8";

.topmanu{
	width:100%;
	min-width:100px;
	padding:5px 25px;
}
.menubar{
width:100%;
	min-width:500px;
border:none;
border:0px;
margin:0px;
padding:4px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:18px;
font-weight:bold;
}

.menubar ul{
background: rgb(109,109,109);
height:50px;
list-style:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{
background: rgb(109,109,109);
color:#cccccc;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 58px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
background: rgb(71,71,71);
color:#FFFFFF;
text-decoration:none;
}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
/*top:1em;
/*left:0;*/
}
.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
background:none;
}
.menubar li ul a{
display:block;
height:50px;
font-size:14px;
font-style:normal;
margin:0px;
padding:0px 15px;
text-align:left;
}
 
.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}


#footer{
    margin-top: 70px;
    position: relative;
    width: 100%;
    border-top: 3px solid #000;
    background: #fff;
}
.footer_inner{
	width: 1300px;
    margin: 50px auto 100px;
}
.footer_inner .box_cs {
    float: left;
    width: 250px;
    height: 260px;
    border-right: 1px solid #f5f5f5;
    padding: 0 60px 0 30px;
}
.footer_inner .box_cs .tit {
    font-size: 11px;
    color: #444;
}

.footer_inner .box_cs .bignum {
    font-size: 44px;
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05em;
    font-weight: bold;
}
.footer_inner .box_cs .ss_txt {
    font-size: 11px;
    color: #666;
    margin-bottom: 3px;
}
.footer_inner .box_cs .partner {
    margin: 15px 0 0 0;
}

.footer_inner .box_bank {
    float: left;
    width: 200px;
    height: 260px;
    border-right: 1px solid #f5f5f5;
    padding: 0 60px 0 50px;
}
.footer_inner .box_bank .tit {
    font-size: 11px;
    color: #444;
    margin-bottom: 20px;
}
.footer_inner .box_bank .bank {
    margin-bottom: 13px;
    font-size: 13px;
    color: #666;
}

.footer_inner .box_bank .bank.name {
    color: #111;
    padding-left: 8px;
}

.footer_inner .box_about {
    float: left;
    width: 310px;
    height: 260px;
    padding-left: 45px;
}
.footer_inner .box_about .tit {
    font-size: 11px;
    color: #444;
    margin-bottom: 20px;
}

